.expo/
responsywne-layouty-nawigacja/.expo/
responsywne-layouty-nawigacja/node_modules
Assets/
Zrzuty_ekranu/
Calculatorek/node_modules/
Calculatorek/.expo/
renedrowanie-listy-danych-progres/.expo
renedrowanie-listy-danych-progres/node_modules
README.md

